<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Practice Suite">
    <packages>
        <package name="testNg"></package>
    </packages>
    <test name="BasePageTest">
        <groups>
            <define name="smoke"></define>
            <define name="regression"></define>
        </groups>
    </test>
</suite>
